.link-underline {
  position: relative;
  display: inline-block;
  border-bottom-width: 0;
  cursor: pointer;
}

.link-underline::after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  background-color: #fff;
  bottom: -3.5px; /* Adjust the offset of the underline */
  left: 0;
  transition: width 0.3s ease-in-out;
}

.link-underline:hover::after {
  width: 100%;
}

.link-underline-black::after {
  background-color: #2e7d32; /* Change the underline color for .link-underline-black */
}